# Node / JS
node_modules/
dist/
dist-electron/
.pnpm-store/

# Python
venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
*.egg-info/

# Forensic Data & Local DBs
*.dd
*.raw
*.img
*.db
*.sqlite
*.sqlite3
data/
backend/data/
*.mp4
*.h264
*.h265
!shared/samples/.gitkeep

# Large Third-Party Binaries (>100MB)
backend/bin/windows/ffmpeg.exe

build
dist_desktop

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
*.log

*.env
.env
